{
  "extends": ["@readme/eslint-config", "plugin:compat/recommended"],
  "root": true,
  "env": {
    "es2020": true
  },
  "rules": {
    "global-require": "off",
    "no-case-declarations": "off"
  },
  "settings": {
    "polyfills": [
      "fetch",
      "Headers",
      "Request"
    ]
  }
}
