{
  "extends": [
    "@readme/eslint-config",
    "plugin:compat/recommended"
  ],
  "root": true,
  "rules": {
    "arrow-body-style": 0
  },
  "env": {
    "browser": true
  },
  "settings": {
    "polyfills": [
      "fetch",
      "Headers",
      "Request"
    ]
  }
}
