{
  "extends": [
    "@readme/eslint-config",
    "@readme/eslint-config/typescript"
  ],
  "root": true,
  "env": {
    "es2020": true
  },
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "global-require": "off",
    "no-case-declarations": "off",
    "unicorn/prefer-node-protocol": "error"
  },
  "settings": {
    "polyfills": [
      "fetch",
      "Headers",
      "Request"
    ]
  },
  "overrides": [
    {
      "files": ["example.js"],
      "rules": {
        "@typescript-eslint/no-var-requires": "off",
        "import/no-extraneous-dependencies": "off",
        "no-console": "off"
      }
    }
  ]
}
