{
  "extends": ["@readme/eslint-config/testing"],
  "rules": {
    "compat/compat": "off",
    "jest/expect-expect": [
      "warn",
      {
        "assertFunctionNames": [
          "expect",
          "nock.**.reply"
        ]
      }
    ]
  }
}
