name: CI

on: [push]

jobs:
  linting:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: lts/-1
          cache: 'npm'

      - run: npm ci
      - run: npm run lint

  node_tests:
    name: Node ${{ matrix.node }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      fail-fast: true
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
        node:
          - lts/-1
          - lts/*
          - latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v5

      - name: Install Node ${{ matrix.node }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'

      - run: npm cit

  ###
  ### Temporarily skipping these until browser testing in Vitest is a bit more stable.
  ###
  # browser_tests:
  #   name: Browser
  #   runs-on: ${{ matrix.os }}
  #   timeout-minutes: 5
  #   strategy:
  #     fail-fast: true
  #     matrix:
  #       browser:
  #         - chrome
  #         - firefox
  #       os:
  #         - ubuntu-latest
  #         - windows-latest

  #   steps:
  #     - name: Checkout source
  #       uses: actions/checkout@v5

  #     - name: Install Node
  #       uses: actions/setup-node@v6
  #       with:
  #         node-version: 18
  #         cache: 'npm'

  #     - run: npm ci
  #     - run: npm run build

  #     # Chrome
  #     - uses: browser-actions/setup-chrome@latest
  #       if: matrix.browser == 'chrome'

  #     - name: Run tests on Chrome
  #       if: matrix.browser == 'chrome'
  #       run: |
  #         npm run test:browser -- --browsers=ChromeHeadless

  #     # Firefox
  #     - uses: browser-actions/setup-chrome@latest
  #       if: matrix.browser == 'firefox'

  #     - name: Run tests on Firefox
  #       if: matrix.browser == 'firefox'
  #       run: |
  #         npm run test:browser -- --browsers=FirefoxHeadless
